main{
    width: 40%;
    height : 70%;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
    color : white;
}