body{
    background-color: #FDFEFE;
}

.app{
    height: 6em;
    width: 7em;
    position: absolute;
}

#support {
    margin-left: 65em;
    top: -64em;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}