body{
    background-color: #FDFEFE;
}

.app{
    height: 30%;
    width: 30%;
}

#support {
    position: absolute;
    left: 50%;
    top: 30%;
}

/* .box {
    display: flex;
    flex-direction: row;
} */

.dispo{
    position: relative;
    left: 10%;
    height: 20%;
    width: 20%;
}

.dispo2{
    position: relative;
    left: 12%;
    height: 20%;
    width: 20%;
}