
#search{
    width: 20%;
    margin-left: 20%;
    margin-bottom: -10%;
    padding-top: 0.5%;
    margin-left: 40%;
}
#button{
    margin-top: 8.1%;
    margin-left: 61%;
}
#navbar{
    border-radius: 0%;
    background-color: black;
    top: 0%;
    width: 100%;
}
#footer{
    background-color: #9D0D0D;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#footer2{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#text{
    color :rgb(87, 87, 87);
}
#text2{
    line-height: 50%;
    margin-left: 0%;
    text-align: center;
    color :rgb(87, 87, 87);
}
#zoneText{
    display: flex;
    flex-direction: column;
    width: 20%; 
}
input{
    border-radius: 5px;
    width: 200%;
}

#zoneText{
    margin-top: 2%;
    margin-left: 30%;
}
.btn:hover{
    background-color: red;
    color: #fff;
}
.btn::before{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 100%;
    top: 0;
    left: 10;
    width: 0%;
    z-index: -1;
    transition: all 0.3s;
}
main{
    width: 40%;
    height : 70%;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;

}
#cherche[type=text] {
    width: 160px;
    height: 9px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
#cherche[type=text]:focus {
    width: 100%;
    border: 2px solid rgb(107, 31, 31);
}
