.backphoto{
    background-image: url('../image/logopage2.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 200px;
    position: relative;
    top:2em;
    left : 30em;
    
}
html, body{
    font-family: PT Sans;
    background-color: white;
}
#search{
    width: 20%;
    margin-left: 20%;
    margin-bottom: -10%;
    padding-top: 0.5%;
    margin-left: 40%;
}
#button{
    margin-top: 8.1%;
    margin-left: 61%;
}
#navbar{
    border-radius: 0%;
    background-color: black;
    top: 0%;
    width: 100%;
}
#footer{
    background-color: #9D0D0D;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#footer2{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#text{
    margin-left: 39%;
    color :rgb(87, 87, 87);
}
#text2{
    line-height: 50%;
    margin-left: 0%;
    text-align: center;
    color :rgb(87, 87, 87);
}
#zoneText{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 20%; 
}
input{
    border-radius: 5px;
}

#zoneText{
    margin-top: 2%;
    margin-left: 40%;
}
button{
    margin-left: 47.5%;
}
.btn:hover{
    background-color: red;
    color: #fff;
}
.btn::before{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 100%;
    top: 0;
    left: 10;
    width: 0%;
    z-index: -1;
    transition: all 0.3s;
}


h1 {
    position: relative;
    left: -1.5em;
}

p{
    position: relative;
    left: -2em;
}

