
#search{
    width: 20%;
    margin-left: 20%;
    margin-bottom: -10%;
    padding-top: 0.5%;
    margin-left: 40%;
}
#button{
    margin-top: 8.1%;
    margin-left: 61%;
}
#navbar{
    border-radius: 0%;
    background-color: black;
    top: 0%;
    width: 100%;
}
#footer{
    background-color: #9D0D0D;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#footer2{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#text{
    color :rgb(87, 87, 87);
}
#text2{
    line-height: 50%;
    margin-left: 0%;
    text-align: center;
    color :rgb(87, 87, 87);
}
#zoneText{
    display: flex;
    flex-direction: column;
    width: 20%; 
}
input{
    border-radius: 5px;
    width: 200%;
}

#zoneText{
    margin-top: 2%;
    margin-left: 30%;
}
.btn:hover{
    background-color: red;
    color: #fff;
}
.btn::before{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 100%;
    top: 0;
    left: 10;
    width: 0%;
    z-index: -1;
    transition: all 0.3s;
}
main{
    width: 40%;
    height : 70%;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;

}
#cherche[type=text] {
    width: 160px;
    height: 9px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
#cherche[type=text]:focus {
    width: 100%;
    border: 2px solid rgb(107, 31, 31);
}



$font-family: "Roboto";
$font-size: 14px;

$color-primary: #ABA194;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
};

.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    
    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: $color-primary;
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
    }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}