#navbar{
    border-radius: 0%;
    background-color: black;
    position: fixed;
    top: 0%;
    width: 100%;
}
#search{
    position: relative;
    width: 30%;
    margin-bottom: -10%;
    padding-top: 0.5%;
    margin-left: 35%;
}
input[type=text] {
    width: 160px;
    height: 9px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    width: 100%;
    border: 2px solid rgb(107, 31, 31);
}
#footer{
    background-color: black;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#footer2{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#formulaire{
    margin-top: 15%;
    border: 3px #D31919 solid;
    width: 30%;
    margin-left: 35%;
    text-align: center;
<<<<<<< HEAD
    font-family: sans-serif;
    border-radius: 5px;
    outline: none;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s;
  }
  
  .btn:hover{
    background-color: #815fc0;
  
  }
  
  .btn::before{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 100%;
    top: 0;
    left: 10;
    width: 0%;
    z-index: -1;
    transition: all 0.3s;
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 100;
  }
  
  header{
      text-align: center;
      font-size: 400%;
      text-decoration: underline;
      background-color: black;
      font-family: PT Sans;
      color: floralwhite;
      
  }

  img{
      width: 80px;
     margin-right: 2em;
  }

  a{
      position: relative;
      left: -30%;
  }

=======
    padding-top: 3%;
    padding-bottom: 5%;
    border-radius: 100px;
}
#barres{
    width: 10%;
}
>>>>>>> 647559662e6b818a1ecd08d5df08ed5731c506ac
